.App {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    flex-direction: column;
}

body {
    margin: 0%;
    padding: 0%;
}

.Title{
    background-color:blueviolet;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.Title input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 18px;
    padding-left: 10px;
}

.Title button {
    width: 180px;
    height: 60px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color:darkmagenta;
    font-size: 18px;
    padding-left: 10px;
    color: white;
}

.Title button:hover{
    cursor: pointer;
}

.DisplaySection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DisplaySection h3,h4{
    margin: 5px;

}

.DisplaySection img{
    width: 200px;
    
}